<!DOCTYPE html>
<html lang="en" ng-app="music">
<head>
    <meta charset="UTF-8">
    <title>MusicPlayer</title>
    <link rel="stylesheet" href="vendor/semantic/semantic.min.css"/>
    <link rel="stylesheet" href="app/main.css"/>
    <link rel="stylesheet" href="vendor/css/lyricer-1.0.0.min.css"/>
    <script src="vendor/javascript/jquery-1.11.3.min.js"></script>
    <script src="vendor/javascript/angular.min.js"></script>
    <script src="vendor/semantic/semantic.min.js"></script>
    <script src="vendor/javascript/lyricer-1.0.0.min.js"></script>
    <script src="app/music.js"></script>
    <link rel="icon" type="image/ico" href="favicon.ico"/>
</head>
<body>
<div class="ui grid" ng-controller="MusicController">
    <div class="two wide column"></div>
    <div class="three wide column topbox">
        <h3>Artists</h3>
        <div class="ui form"><input type="text" ng-model="artistFilerText"></div>
        <div class="ui middle aligned selection list">
            <div class="item" ng-repeat="artist in artists" ng-class="{highlight: artist.selected}" ng-click="artistSelect(artist, $event)">
                <div class="content">
                    <div class="header">
                        {{artist.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="three wide column topbox">
        <h3>Albums</h3>
        <div class="ui form"><input type="text" ng-model="albumFilerText"></div>
        <div class="ui middle aligned selection list">
            <div class="item" ng-repeat="album in albums" ng-class="{highlight: album.selected}" ng-click="albumSelect(album, $event)">
                <div class="content">
                    <div class="header">
                        {{album.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="three wide column topbox">
        <h3>Songs</h3>
        <div class="ui form"><input type="text" ng-model="songFilerText"></div>
        <div class="ui middle aligned selection list">
            <div class="item" ng-repeat="song in songs" ng-class="{highlight: song.selected}" ng-click="songSelect(song, $event)" ng-dblclick="dblplay(song)">
                <div class="content">
                    <div class="header">
                        {{song.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="three wide column topbox">
        <h3>Lyrics</h3>
        <button class="ui icon button" data-content="Reload another piece of lyrics from server" ng-click="setLyrics(playlistSongs[currentPlaying], reload=true)">
            <i class="refresh icon"></i>
        </button>
        <div id="lyricer"></div>
    </div>        
    <div class="two wide column"></div>
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="controls">
            <div class="ui icon buttons">
                <button class="ui icon button" data-content="Add selected songs above into the playlist" ng-click="addToPlaylist()">
                    <i class="icon add circle"></i>
                </button>
                <button class="ui icon button" data-content="Remove selected songs from the playlist" ng-click="removeFromPlaylist()">
                    <i class="icon minus circle"></i>
                </button>
                <button class="ui icon button" ng-click="stop()">
                    <i class="icon stop"></i>
                </button>
                <button class="ui icon button" ng-click="playOrPause()">
                    <i ng-class="{'icon play': status !== STATUS.PLAYING, 'icon pause': status === STATUS.PLAYING}"></i>
                </button>
                <button class="ui icon button" ng-click="playPrevious()">
                    <i class="icon backward"></i>
                </button>
                <button class="ui icon button" ng-click="playNext()">
                    <i class="icon forward"></i>
                </button>
                <button class="ui icon button" ng-click="playNextRandomly()">
                    <i class="icon random"></i>
                </button>
            </div>
            <div class="ui icon buttons">
                <button class="ui icon button" data-content="Randomly select some songs to play" ng-click="playSomeRandomSongs()">
                    <i class="icon music"></i>
                </button>
            </div>
            <div class="ui selection dropdown">
              <input type="hidden" name="playorder" value="play-in-order">
              <i class="dropdown icon"></i>
              <div class="default text">Play in order</div>
              <div class="menu">
                <div class="item" data-value="play-in-order">Play in order</div>
                <div class="item" data-value="repeat-playlist">Repeat playlist</div>
                <div class="item" data-value="repeat-track">Repeat track</div>
                <div class="item" data-value="random">Random</div>
              </div>
            </div>

            <div id="play-progress" class="ui small progress" ng-click="seek($event)">
                <div style="transition-duration: 0ms;" ng-style="{'width': playPercentage + '%'}" class="bar">
                    <div class="progress">{{playtime}}/{{duration}}</div>
                </div>
            </div>
        </div>
        <div class="playlist">
            <table class="ui selectable yellow celled table">
                <thead>
                    <tr><th>#</th><th>Status</th><th>Song</th><th>Artist</th><th>Album</th></tr>
                </thead>
                <tbody>
                    <tr ng-repeat="song in playlistSongs track by $index" ng-class="{highlight: song.selected}" ng-dblclick="playPlaylist($index)" ng-click="playlistSongSelect(song, $event)">
                        <th>{{$index+1}}</th>
                        <th><i ng-class="{'icon play': status === STATUS.PLAYING, 'icon pause': status === STATUS.PAUSED, 'icon stop': status === STATUS.STOPPED}" ng-show="currentPlaying == $index"></i></th>
                        <th>{{song.name}}</th>
                        <th>{{song.artistName}}</th>
                        <th>{{song.albumName}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="two wide column"></div>
</div>

<!-- for semantic -->
<script>
    $('.ui.dropdown').dropdown();
    $('button').popup();
</script>
</body>
</html>
