div.topbox {
	height: 500px;
}

#explorer, .playlist tbody {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

ul {
	padding-left: 0px;
	max-height: 380px;
	overflow-y: scroll;
}

li {
	list-style-type: none;
	cursor: pointer;
}

li.highlight {
	background-color: #FFFFCC;
}
li:hover {
	background-color: #FFFFCC;
}

h3 {
	margin-bottom: 5px;
}

.playlist table {
	width: 100%;
}

.playlist thead {
	text-align: center;
}

.playlist tbody {
	cursor: pointer;
}

.playlist tbody tr:hover {
	background-color: #FFFFCC;
}

.playlist tbody tr.highlight {
	background-color: #FFFFCC;
}


